# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.joblib
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data & artifacts (keep big files out of git)
data/raw/
data/interim/
data/processed/
artifacts/